* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.header {
  background-image: url("../assets/images/background1.jpg");
  width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.conteudo {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.collage1 {
  margin: 0 auto;
  width: 50%;
  float: left;
  padding-top: 0px;
  display: flex;
}

.logo {
  padding-top: 0;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.form input {
  height: 38px;
  padding-left: 10px;
  font-size: 10pt;
  border-radius: 5px;
  border: 0px;
  margin: 3px;
}

.btn {
  background-color: #30c137;
  color: #fff8e6;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #238528;
  transition: 0.5s;
}

.titleHeader {
  color: #fff8e6;
  font-size: 15px;
  padding-top: 40px;
  line-height: 24pt;
  font-weight: 400;
  text-align: left;
}

/*----------------------------------------------------------------------------------------------------------------------------
------- RESPONSIVIDADE -------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1010px) {
  /*---HEADER-------------------------------------------------------*/
  .header {
    text-align: center;
    padding-top: 30px;
  }

  .logo {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: -15px;
    display: flex;
    flex-direction: column;
  }

  .centerLogo {
    margin: auto;
  }

  .collage1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imgcollage1 {
    width: 180px;
  }

  .imglogo1 {
    width: 250px;
  }

  .form {
    width: 100%;
  }

  .titleHeader {
    text-align: center;
    line-height: 18pt;
    padding-top: 20px;
  }
}

/* PRA QUEM */

.bg__PraQuem {
  background: url("../assets/images/background5.jpg");
  background-size: cover;
  width: 100%;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 30px;
}

.tituloPraQuem {
  display: flex;
  justify-content: center;
}

.imgTituloPraQuem {
  width: 415px;
}

.bg__Papel__PraQuem {
  max-width: 1040px;
  background: url("../assets/images/papel-fundo4.png") no-repeat center;
  background-size: contain;
  height: 407px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.textoPraQuem {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

.p__ParaQuem {
  font-size: 11pt;
  padding-top: 15px;
}

.ul {
  list-style-image: url("../assets/images/check.png");
  font-size: 11pt;
  line-height: 12pt;
  text-align: left;
}

/*------------------------------------------------
-----------RESPONSIVO-----------------------------
-------------------------------------------------*/

@media (max-width: 1040px) {
  .bg__Papel__PraQuem {
    background-size: cover;
    height: 405px;
  }
}

@media (max-width: 598px) {
  .bg__Papel__PraQuem {
    background-size: cover;
    height: 500px;
  }

  .textoPraQuem {
    margin-bottom: 100px;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 20px;
  }
}

@media (max-width: 461px) {
  .imgTituloPraQuem {
    width: 90%;
  }
}

@media (max-width: 380px) {
  .bg__Papel__PraQuem {
    background-size: cover;
    height: 570px;
  }
}

/* CONTEÚDE DAS AULAS */

.conteudoAulas {
  background-image: url("../assets/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.conteudo2 {
  width: 1010px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.titulo1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aulas {
  display: flex;
  padding-top: 15px;
}

.aula1 {
  background-image: url("../assets/images/papel-fundo1.png");
  background-repeat: no-repeat;
  width: 334px;
  height: 320px;
  text-align: center;
  padding-top: 5px;
}

.aula2 {
  background-image: url("../assets/images/papel-fundo1.png");
  background-repeat: no-repeat;
  width: 334px;
  height: 320px;
  text-align: center;
  padding-top: 5px;
}

.aula3 {
  background-image: url("../assets/images/papel-fundo1.png");
  background-repeat: no-repeat;
  width: 334px;
  height: 320px;
  text-align: center;
  padding-top: 5px;
}

.pAula {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  line-height: 18pt;
  color: #253328;
  font-size: 0.9rem;
}

.h2ConteudoAulas {
  font-family: merriweather, serif;
  font-size: 16pt;
  margin-bottom: 5px;
  padding-top: 10px;
}

/*----------------------------------------------------------------------------------------------------------------------------
------- RESPONSIVIDADE -------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1010px) {
  /*---AULAS-------------------------------------------------------*/
  .conteudo2 {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .img002 {
    width: 110%;
    max-width: 511px;
  }

  .aulas {
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aula1 {
    padding-top: 0px;
  }

  .aula2 {
    padding-top: 20px;
  }

  .aula3 {
    padding-top: 15px;
  }
}

/* CTA */

.cta {
  background-color: #fff8e6;
  width: 100%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 70px;
  display: flex;
}

.conteudo4 {
  width: 1010px;
  margin: auto;
  text-align: center;
}

.p2 {
  padding-bottom: 30px;
  line-height: 24pt;
}

.btn2 {
  color: #fff8e6;
  background: #30c137;
  border: 0;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  padding: 10px 50px;
  text-decoration: none;
  font-weight: bold;
}

.btn2:hover {
  background: #238528;
  transition: background 0.5s;
}

/*----------------------------------------------------------------------------------------------------------------------------
------- RESPONSIVIDADE -------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1010px) {
  .cta {
    padding-bottom: 60px;
  }

  .conteudo4 {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    padding: 10px auto;
  }
}

/* SOBRE */

.sobre {
  background-image: url("../assets/images/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

.titulo2 {
  display: flex;
  justify-content: center;
}

.conteudo3 {
  width: 1010px;
  margin: auto;
  display: flex;
}

.collage2 {
  width: 40%;
  display: flex;
  /*padding-top: 170px;*/
  align-items: center;
}

.textoSobre {
  background-image: url("../assets/images/papel-fundo3.png");
  background-size: 120%;
  background-repeat: no-repeat;
  width: 630px;
  margin-top: 0px;
}

.p1 {
  padding-top: 50px;
  margin-left: 70px;
  margin-right: 60px;
  line-height: 23pt;
  font-size: 11pt;
}

/*----------------------------------------------------------------------------------------------------------------------------
------- RESPONSIVIDADE -------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1010px) {
  .conteudo3 {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }

  .collage2 {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  .img_itulo_sobre {
    padding-top: 30px;
    width: 90%;
    max-width: 415px;
  }

  .textoSobre {
    background-image: url("../assets/images/papel-fundo3.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .p1 {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .img_collage_2 {
    width: 90%;
    max-width: 394px;
  }
}

/* FOOTER */

.footer {
  width: 100%;
  background-image: url("../assets/images/background1.jpg");
  display: flex;
}

.conteudo5 {
  width: 980px;
  margin: auto;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p3 {
  font-size: 14px;
  padding-top: 20px;
  line-height: 20pt;
  color: #fff8e6;
}

/*----------------------------------------------------------------------------------------------------------------------------
------- RESPONSIVIDADE -------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1010px) {
  .logo2 {
    padding-top: 30px;
    width: 250px;
  }

  .p3 {
    padding: 40px 30px;
    font-size: 10pt;
    line-height: 15pt;
  }
}
