@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-LightItalic.eot');
    src: local('Argent CF Light Italic'), local('ArgentCF-LightItalic'),
        url('ArgentCF-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-LightItalic.woff2') format('woff2'),
        url('ArgentCF-LightItalic.woff') format('woff'),
        url('ArgentCF-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Argent CF Super';
    src: url('ArgentCF-Super.eot');
    src: local('Argent CF Super'), local('ArgentCF-Super'),
        url('ArgentCF-Super.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-Super.woff2') format('woff2'),
        url('ArgentCF-Super.woff') format('woff'),
        url('ArgentCF-Super.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-Thin.eot');
    src: local('Argent CF Thin'), local('ArgentCF-Thin'),
        url('ArgentCF-Thin.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-Thin.woff2') format('woff2'),
        url('ArgentCF-Thin.woff') format('woff'),
        url('ArgentCF-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-ThinItalic.eot');
    src: local('Argent CF Thin Italic'), local('ArgentCF-ThinItalic'),
        url('ArgentCF-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-ThinItalic.woff2') format('woff2'),
        url('ArgentCF-ThinItalic.woff') format('woff'),
        url('ArgentCF-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-Bold.eot');
    src: local('Argent CF Bold'), local('ArgentCF-Bold'),
        url('ArgentCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-Bold.woff2') format('woff2'),
        url('ArgentCF-Bold.woff') format('woff'),
        url('ArgentCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-Light.eot');
    src: local('Argent CF Light'), local('ArgentCF-Light'),
        url('ArgentCF-Light.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-Light.woff2') format('woff2'),
        url('ArgentCF-Light.woff') format('woff'),
        url('ArgentCF-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-DemiBold.eot');
    src: local('Argent CF DemiBold'), local('ArgentCF-DemiBold'),
        url('ArgentCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-DemiBold.woff2') format('woff2'),
        url('ArgentCF-DemiBold.woff') format('woff'),
        url('ArgentCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-ExtraBold.eot');
    src: local('Argent CF ExtraBold'), local('ArgentCF-ExtraBold'),
        url('ArgentCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-ExtraBold.woff2') format('woff2'),
        url('ArgentCF-ExtraBold.woff') format('woff'),
        url('ArgentCF-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-BoldItalic.eot');
    src: local('Argent CF Bold Italic'), local('ArgentCF-BoldItalic'),
        url('ArgentCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-BoldItalic.woff2') format('woff2'),
        url('ArgentCF-BoldItalic.woff') format('woff'),
        url('ArgentCF-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-RegularItalic.eot');
    src: local('Argent CF Regular Italic'), local('ArgentCF-RegularItalic'),
        url('ArgentCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-RegularItalic.woff2') format('woff2'),
        url('ArgentCF-RegularItalic.woff') format('woff'),
        url('ArgentCF-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-Regular.eot');
    src: local('Argent CF Regular'), local('ArgentCF-Regular'),
        url('ArgentCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-Regular.woff2') format('woff2'),
        url('ArgentCF-Regular.woff') format('woff'),
        url('ArgentCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-DemiBoldItalic.eot');
    src: local('Argent CF DemiBold Italic'), local('ArgentCF-DemiBoldItalic'),
        url('ArgentCF-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-DemiBoldItalic.woff2') format('woff2'),
        url('ArgentCF-DemiBoldItalic.woff') format('woff'),
        url('ArgentCF-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-ExtraBoldItalic.eot');
    src: local('Argent CF ExtraBold Italic'), local('ArgentCF-ExtraBoldItalic'),
        url('ArgentCF-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-ExtraBoldItalic.woff2') format('woff2'),
        url('ArgentCF-ExtraBoldItalic.woff') format('woff'),
        url('ArgentCF-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

